html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/* ------------GLOBAL STYLES-------------- */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    line-height: 1.8;
}

ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

p {
    color: #999999;
}

.wrapper {
    /* max-width: 900px; */
    max-width: 65%;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

::placeholder {
    color: #999999;
}

/* potential additions to global styles: text-align center, uppercase, section padding */

/* index page styles */
.indexPage {
    background: url(assets/home-1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    padding-top: 30px;
}

nav .mainLeft, nav .mainRight {
    width: 40%;
    float: left;
    padding: 0;
}

nav .mainRight {
    float: right;
    padding-left: 140px;
}
nav .mainLeft li, nav .mainRight li {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    display: inline-block;
}

nav .mainLeft li:nth-of-type(1) {
    padding-left: 0;
}

nav .mainRight li:nth-of-type(4) {
    padding-right: 0;
}

nav li a {
    font-size: 1.1rem;
}

nav li a i {
    font-size: 1.5rem;
}

/* nav - animated line on hover */

nav li a::before, nav li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1.5px;
  top: 50%;
  margin-top: -0.5px;
  background: #000;
}

nav li a::before {
  left: -2.5px;
}
nav li a::after {
  right: 2.5px;
  background: #000;
  transition: width 0.5s;
}

nav li a:hover:before {
  background: #000;
  width: 100%;
  transition: width 0.5s;
}

nav li a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

nav .mainRight li:nth-of-type(3) a::before, nav .mainRight li:nth-of-type(4) a::before, nav .mainRight li:nth-of-type(3) a::after, .mainRight li:nth-of-type(4) a::after {
    background: transparent;
}

nav .logo {
    font-size: 3rem;
    text-align: center;
    width: 20%;
    margin: -5px auto 10px;
    font-weight: 700;
}

/* shopping cart number styling */

.shoppingLink {
    position: relative;
    display:block;
} 
.shoppingNumber {
    position: absolute;
    background: #c3dab7;
    padding: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 0.7rem;
    text-align: center;
    top: 10px;
    left: 8px;
} 

.shoppingNumber p {
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
    top: calc(50% - 7px);
    position: relative;
    color: black;
}

/* branding section */
.branding {
    background:#c3dab7;
    position: relative;
    padding-top: 150px;
    padding-bottom: 60px;
}

.branding::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -60px;
    bottom: 530px;
    border: 1px solid #999999;
    border-width: 0 0 0 1px;
}

.brandingImg {
    width: 40%;
    margin: 0 auto;
}

.branding img {
    margin: 0 auto;
    display: block;
}

.branding .textOverlay {
    position: absolute;
    width: 185px;
    height: 185px;
    left: 469px;
    top: 83px;
}

.brandingContainer {
    width: 70%;
    margin: 0 auto;
}

.brandingContainer div {
    width: 50%;
    float: left;
    text-align: center;
    padding: 40px 20px;
}

.brandingContainer div p {
    font-size: 1.2rem;
    color: black;
}

/* carousel section */
.carousel {
    padding-top:150px;
    padding-bottom: 80px;
}

.carousel .wrapper {
    position: relative;
}

.fa-angle-left, .fa-angle-right {
    font-size: 4rem;
    color: #999999;
}

.fa-angle-left:hover, .fa-angle-right:hover {
    color: black;
    cursor: pointer;
}


.fa-angle-left {
    position: absolute;
    left: 0;
    top: 50%;  
}

.fa-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
   
}

.carouselImg {
    width: 24%;
    margin: 0 auto;
}

.carousel img {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

.carousel p {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-family: 'Open Sans';
    font-style: italic;
    line-height: 2;
    font-size: 1.2rem;
    color: #888888;
    font-weight: 400;
    letter-spacing: 0.6px;
}

/* feactures section */
.features {
    background: url(assets/home-4.jpeg) no-repeat;
    padding: 145px 0 85px 0;
    background-size: contain;
}

.features ul {
    float: right;
    width: calc(55% - 120px);
    margin-left: 0;
    margin-right: 90px;
}

.features li {
    float: left;
    width: 50%;
    padding-bottom: 50px;
}

.features li .listIcon {
   float: left;
   width: 50px;
   height: 50px;
   margin: 5px;
   border-radius: 50%;
   border: 1.5px solid black;
   text-align: center;
   vertical-align: middle;
}

.features li .listIcon i {
    font-size: 2rem;
    position:relative;
    top: calc(50% - 11px);
}

.features li .listFeature {
    float: left;
    width: 74%;
    padding-left: 20px;
}

.features li .listFeature h2 {
    margin-top: 0;
}

.features li .listFeature p {
    color: #999999;
}
/* team section */
.team {
    padding: 100px 0;
    position: relative;
}

.team h1 {
    text-align: center;
}
.team .gallery div {
    float: left;
    margin: 10px;
    /* height: 215px; */
}
.team .teamPlayer {
    width: calc(50% - 20px);
    background: #f6f6f6;
    height: 195px;
    padding: 50px 30px 0 30px;
    text-align: left; 
}

.team .teamPlayer p {
    font-size: 1.1rem;
}

.team h4 {
    text-align: left;
    font-size: 1.4rem;
    margin-bottom:0;
}

.team .galleryContainer {
    width: calc(25% - 20px);
}

.team .galleryContainer h4 {
    text-align: center;
    padding: 50px;
}

.team::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 723px;
    top: 0;
    bottom: 90%;
    border: 0.5px solid;
    color: #999999;
    border-width: 0 0 0 0.5px;
}


/* portfolio section */
.portfolio {
    clear:both;
    background: #c3dab7;
}

.portfolio h1 {
    text-align: center;
    font-size: 2rem;
}

.portfolio .viewPortfolio, .portfolio .portfolioImg {
    float: left;
    width: 50%;
}

.portfolio .viewPortfolio {
    padding: 250px 75px 0 75px ;
    text-align: center;
}

.portfolio p {
    padding-bottom: 40px;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    color: #777777;
    font-size: 1.1rem;
}

.portfolio a {
    width: 30%;
    margin: 0 auto;
    border: 1px solid white;
    background: white;
    padding: 15px 30px;
    font-weight: bold;
    letter-spacing: 1.2px;
    
}

/* footer section */
footer {
    clear: both;
    background:  #333333;
    color: #f6f6f6;
    padding-top: 100px;
}

footer .wrapper {
    padding-bottom: 100px;
}

footer .footerContainer {
    float: left;
    width: 33.33%;
    
}

footer .footerContainer ul {
    margin: 0;
    padding: 0;
    list-style-position: none; 
    list-style-type: none;
}

footer ul li {
    font-size: 1.1rem;
    letter-spacing: 0.8px;
    list-style-type: none;
}

footer h2 {
    padding-bottom: 20px;
}

footer .socialIcons {
    padding-top: 20px;

}

footer .socialIcons i{
    padding-right: 20px;
    color:white;
    font-size: 1.2rem;
}

footer .contactUs {
    text-align: left;
}

footer .recentPosts{
    text-align: center;
}

footer .recentPosts li{
    text-align: left;
    padding-left: 40px;
    line-height: 2.5;
}

footer .subscribe{
    text-align: right;
    
}

footer .subscribe p {
    color: white;
    font-size: 1.1rem;
}

footer form {
    padding-top: 15px;
}

footer input {
    border: none;
    margin: 0;
    padding: 10px 0;
}

footer input[type=email] {
    width: 150px;
    margin-right: -3px;
    padding-left: 15px;
}

footer input[type=email]::placeholder {
    padding-left: 15px;
}

footer input[type=submit] {
    font-size: 1rem;
    background-image: url(assets/long-arrow-alt-right-solid.svg);
    background-color: #c3dab7;
    width: 35px;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat; 
}

footer input[type=submit]:hover {
    cursor: pointer;
}

footer h6 {
    clear: both;
    text-align: center;
    border-top: 0.5px #666666 solid;
    letter-spacing: 3px;
    font-size: 1.4rem;
    padding: 50px 0;
    margin: 0;
}

/* ----------BLOG PAGE STYLES------------ */

.blogPage {
    background: url(assets/blog-1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* article styles */

.blogPost {
    padding: 100px 0;
}

.blogPost span {
    color: #333333;
}

.blogPost p {
    color: #999999;
    font-size: 1.1rem;
}

.blogPost h2{
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1.2px;
}

.articleTagline {
    border-bottom: 0.5px solid #999999;
    margin: 0;
    padding: 0;
}

.articleTagline li {
    float: left;
    width: 17%;
    padding-bottom: 20px;
}

.articleTagline li img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float:left;
    margin-right: 20px;
}

.articleTagline .admin {
    width: 47%;
}
  
.articleTagline li h3, .articleTagline li p {
    margin: 0;
    padding-top: 0;
}

.articleTagline li h3 {
    padding-top: 5px;
}

.blogPost .boldParagraph {
    font-weight: bold;
    color: black;
    padding-top: 40px;
    
}

.blogPost .share h3 {
    display: inline-block;
}

.blogPost .share a {
    padding-left: 15px;
}

.blogPost .share i {
    font-size: 1.2rem;
}

/* related posts image */
.relatedPosts h3, .comments h3, .contactForm h3 {
    font-size: 2.4rem;
    font-weight: 700;
    border-bottom: solid 0.5px #999999;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.relatedPostImage figure {
    width: calc(33% - 13.33px);
    float: left;
    padding: 0;
    margin: 0;
}

.relatedPostImage figure:nth-of-type(1), .relatedPostImage figure:nth-of-type(2) {
    margin-right: 20px;
}

/* comments section */
.comments {
    clear:both;
}

.comments img {
    float: left;
    width: 50px;
    height: 50px;
}

.comments .commentContainer {
    background: #f6f6f6;
    width: calc(100% - 80px);
    float: left;
    margin-bottom: 20px;
    margin-left: 25px;
    padding: 10px 0 25px 20px;
    position: relative;
}

.comments .commentContainer::after {
	content: '';
	position: absolute;
	left: 0;
	top: 22%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-right-color: #f6f6f6;
	border-left: 0;
	margin-top: -10px;
    margin-left: -13px;
    border-right-width: 15px;
}

.comments .commentContainer h5 {
    color: #333333;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}

.comments .commentContainer p {
    color: #666666;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 5px 0;
} 

.comments .commentContainer h6 {
    color: #999999;
    font-size: 0.9rem;
    text-transform: none;
    margin: 0;
}

.comments .commentContainer .replyComment {
    color: #405e31;
    font-style: italic;
    text-transform: none;
    font-size: 1rem;
}

/* comment form section - same as contact page contact form */

.contactForm {
   padding-bottom: 130px;
   clear:both;
}

.contactForm input {
    width: calc(33% - 6.5px);
    display: inline-block;
    border: none;
    border-bottom: solid 0.5px #999999;
    padding-bottom: 10px;
    margin-left: 10px;
}

.contactForm input:nth-of-type(1), .contactForm input:nth-of-type(4) {
    margin-left: 0;
}

.contactForm input[id="comment"] {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 100px;
    line-height: 40px;
}

input::-webkit-input-placeholder {
    color: #999;
    font-size: 1.1rem;
}

input:hover::-webkit-input-placeholder {
    color: black;
}

input::-moz-placeholder {
    color: #999;
    font-size: 1.1rem;
}

input:hover::-moz-placeholder {
    color:black;
}

input:hover {
    border-bottom: 1px solid black;
}

input:focus{
    border-bottom: 1px solid black;
}

.contactForm button  {
    border: none;
    border-bottom: 1px solid #999999;
    padding: 40px 0 5px 0;
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1rem;
    padding-top: 40px;
}

.contactForm button:hover {
    cursor: pointer;
}

/* ---------CONTACT PAGE------------ */
.bannerPhoto {
    background: url(assets/contact-1.jpeg) no-repeat;
    background-size: cover;
    height: 170px;
    clear:both;
}

.details {
    position: relative;
    padding: 100px 0;
}
 
.details h2 {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    letter-spacing: 1.2px;
    position: absolute;
    top: -75px;
    left: 282px;
    width: 20%;
}

.details h2::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: -30px;
}

.details .wrapper > p {
    width: 50%;
    padding-bottom: 40px;
    color: #999999;
}

.details .contactInfo {
    padding-bottom: 30px;
    margin-left: 20px;
    
}

.details .contactInfo h4 {
    font-size: 1.1rem;
    letter-spacing: 5px;
    font-weight: 700;
    color: #333333;
}

.details .contactInfo div {
    width: calc(33% - 26.66px);
    float: left;
    line-height: 1;
    padding: 30px 0 30px 30px;
    height: 175px;
}

details .contactInfo div > p, .contactForm p {
    color: #999999;
}

.details .contactInfo .phone, .details .contactInfo .address {
    border-right: 0.5px solid #999999;
    margin-right: 40px;
   
}

.details .contactInfo i {
    font-size: 30px;
}

.details h3, .contactForm .wrapper .getInTouch {
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    margin-bottom: 15px;
    padding-bottom: 0;
}

.contactForm p {
    padding-bottom: 80px;
}













